extends layout
block contenido
  div(class="container")
    h1(class="green-text") Nuevo Usuario
    form(action="insertaUsuario" method="post")
      div(class="input-field")
        label(for="nombre") Nombre
        input(type="text" name="nombre" id="nombre" placeholder="Nombre")
      div(class="input-field")
        label(for="apellido") Apellido
        input(type="text" name="apellido" id="apellido" placeholder="Apellido")
      div(class="input-field")
        label(for="edad") Edad
        input(type="number" name="edad" step="1" min="1" id="edad" placeholder="Edad")
      div(class="input-field")
        label(for="pais") Pais
        input(type="text" name="pais" id="pais" placeholder="Pais")
      div(class="row center")
        div(class="input-field")
          input(type="submit" value="Aceptar" class="btn waves-effect waves-light")